html,
body,
#app {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 滚动条样式 */

::-webkit-scrollbar {
    /* 滚动条宽 */
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    /* 滚动条 拖动条 */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    /* 滚动条背景槽 */
    background-color: #eee;
    border-radius: 6px;
}